@* implicit RequestHeader passed in by compiler so no need to pass it in *@
@()(implicit request: RequestHeader)
@main("Login"){
    <h2>Login</h2>
    <form method="get" action="validateLogin1Get">
        <h3>Longin with GET (no secure)</h3>
        <label> Username:
            <input type="text" name="username">
        </label>
        <label> Password:
            <input type="password" name="password">
        </label>
        <input type="submit"/>
        @* clicking submit goes to http://localhost:9000/validateLogin1?username=abel&password=abc123 *@
    </form>
    <br>
    @* Reverse routing to find the URL *@
    <form method="post" action="@routes.TaskList1.validateLogin1Post">
        @* As RequestHeader is passed implicitly no need to pass it in *@
        @* @helper.CSRF.formField(request) *@
        @helper.CSRF.formField
        <h3>Login with POST</h3>
        <label> Username:
            <input type="text" name="username">
        </label>
        <label> Password:
            <input type="password" name="password">
        </label>
        <input type="submit"/>
    </form>
    <br>
    @* Reverse routing to find the URL *@
    <form method="post" action="@routes.TaskList1.createUser1">
        @helper.CSRF.formField
        <h3>Create User</h3>
        <label> New Username:
            <input type="text" name="username">
        </label>
        <label> Password:
            <input type="password" name="password">
        </label>
        <input type="submit"/>
    </form>
}