@()
@main("Login"){
    <h2>Login</h2>
    <form method="get" action="validateLogin1Get">
        <label> Username:
            <input type="text" name="username">
        </label>
        <label> Password:
            <input type="password" name="password">
        </label>
        <input type="submit"/>
        @* clicking submit goes to http://localhost:9000/validateLogin1?username=abel&password=abc123 *@
    </form>
    <br>
    @* Reverse routing to find the URL *@
    <form method="post" action="@routes.TaskList1.validateLogin1Post">
        <label> Username:
            <input type="text" name="username">
        </label>
        <label> Password:
            <input type="password" name="password">
        </label>
        <input type="submit"/>
    </form>
}