@* Anything starting with @ is code and not  HTML. The Twirl template gets compiled to Scala code  *@
@(tasks: Seq[String])(implicit request: RequestHeader, flash: Flash)

@main("Task List") {
    <h2>Task List</h2>
    <ul>
        @for((task, idx) <- tasks.zipWithIndex) {   @* for loop  *@
            <li>@task</li>
            <form method="post" action="@routes.TaskList1.deleteTask()">
                @helper.CSRF.formField
                <input type="hidden"  name="index" value="@idx">
                <input type="submit" value="Delete!">
            </form>
        }
    </ul>

    <form method="post" action="@routes.TaskList1.addTask()">
        @helper.CSRF.formField
        <label> Enter new task
            <input type="text" name="newTask">
        </label>
        <input type="submit">
    </form>

    <div>
        <a href="@routes.TaskList1.logout">Logout</a>
    </div>

}